@import "tailwindcss";

:root {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);
}

body {
  font-family: var(--font-inter), sans-serif;
  @apply bg-white text-black antialiased;
}

h1,
h2,
h3,
.font-serif {
  font-family: var(--font-playfair), serif;
}

/* Thêm một chút tinh chỉnh cho giống mẫu */
a {
  @apply transition-colors duration-300;
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
